@charset "utf-8";
 .top {
	background-image: url("../img/company-fv_desktop.png");
	background-position: -50%;
	background-size: cover;
	height: 50vh;
	position: relative;
  }
  .top-wrapper {
	width: 100%;
	height: 100%;
  }
  .top-wrapper__ttl {
	position: absolute;
	top: 50%;
	right: 45%;
	color: #fff;
	font-size: 2.5rem;
	font-weight: 400;
	text-align: center;
  }
  .top-wrapper__ttl small {
	display: inline-block;
	font-size: 1.25rem;
	border-bottom: 2px solid #fff;
	padding-bottom: 7.5%;
  }
  .top-wrapper__ttl p {
	padding-top: 7.5%;
  }

	@media screen and (max-width: 768px) {
		.top-wrapper__ttl {
			right: 40%;
			font-size: 2.25rem;
		}
		.top-wrapper__ttl small {
			font-size: 1rem;
		}
	}

	@media screen and (max-width: 480px) {
		.top-wrapper__ttl {
			top: 40%;
			right: 37.5%;
			font-size: 1.8rem;
		}
		.top-wrapper__ttl small {
			font-size: 0.8rem;
		}
	}